@tailwind base;
@tailwind components;
@tailwind utilities;

.signUpPageBg {
  background-image: url("https://cdn.svgator.com/images/2024/07/SVG-background-animation.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
